 <nav class="navbar navbar-expand-lg navbar-dark blue-color">
     <a class="navbar-brand" >
      <img src="assets/images/eQualityLogoWhite.png" width="180" height="60" alt="Product Logo" routerLink="" routerLinkActive="active" [routerLinkActiveOptions]="{ exact : true}">
     </a>
     <button (click)="toggleMenu()" class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
     <div class="collapse navbar-collapse" [ngClass]="updateClass()" id="navbarNav">
         <ul class="navbar-nav mr-auto">
            <li class="nav-item">
               <a class="nav-link" routerLink="" routerLinkActive="active" [routerLinkActiveOptions] = "{exact:true}">Home</a>
            </li>
             <li class="nav-item">
                <a class="nav-link" routerLink="trustmark" routerLinkActive="active">TrustMark</a>
             </li>
             <li class="nav-item">
                <a class="nav-link" routerLink="resources" routerLinkActive="active">Resources</a>
             </li>
             <li class="nav-item">
                <a class="nav-link" routerLink="training" routerLinkActive="active">Training & Certification</a>
             </li>
             <li class="nav-item">
                <a class="nav-link" routerLink="community" routerLinkActive="active">Community</a>
             </li>
         </ul>
         <form class="form-inline my-2 my-lg-0">
            <div>
               <ul class="navbar-nav mr-auto">
                  <li class="nav-item">
                     <a class="nav-link" routerLink="login" routerLinkActive="active">Login</a>
                  </li>
                  <li class="nav item">
                     <a class="nav-link" routerLink="signup" routerLinkActive="active">Signup</a>
                  </li>
               </ul>
            </div>
          </form>
     </div>
    </nav>