<footer>
    <div class="row footer-row" >
        <div class="col-sm footer-div">
            <ul>
                <li class="">
                    <a href="" class="">
                        <fa-icon [icon]="['fab','facebook']" size="2x" [styles]="{'stroke': 'grey', 'color': 'grey'}"></fa-icon>
                    </a>
                </li>
                <li class="">
                    <a href="" class="">
                        <fa-icon [icon]="['fab','twitter']" size="2x" [styles]="{'stroke': 'grey', 'color': 'grey'}"></fa-icon>
                    </a>
                </li>
                <li class="">
                    <a href="" class="">
                        <fa-icon [icon]="['fab','instagram']" size="2x" [styles]="{'stroke': 'grey', 'color': 'grey'}"></fa-icon>
                    </a>
                </li>
                <li class="">
                    <a href="" class="">
                        <fa-icon [icon]="['fab','youtube']" size="2x" [styles]="{'stroke': 'grey', 'color': 'grey'}"></fa-icon>
                    </a>
                </li>
            </ul>
        </div>
        <div class="col-sm">
            <div class="col-md-12 text-center">
                <p>Copyright © 2020 Prakat Solutions Inc.</p>
            </div>
        </div>
    </div>
</footer>

