<div class="container-sm" style="max-width: 500px;">
    <div class="title text-center">
        <h4 style="font-weight: bold;" >eQuality account login</h4>
    </div>
    <div class="form-group">
      <label >Email address</label>
      <input type="email" class="form-control" aria-describedby="emailHelp" placeholder="email" required>
    </div>
    <div class="form-group">
      <label >Password</label>
      <input type="password" class="form-control" placeholder="password" required>
    </div>
    <div class="row">
      <div class="col-sm-6">
        <div class="text-left">
          <a href="">Forget your password?</a>
        </div>
      </div> 
      <div class="col-sm-6">
        <div class="text-right">
          <button type="submit" class="btn btn-primary" >Login</button>
        </div>
      </div>           
    </div>

      <div class="title text-center">
        <h4 style="font-weight: bold;">Dont have an eQuality account</h4>
    </div>
    <div class="text-center">
        <button routerLink="/signup" routerLinkActive="active" class="btn btn-dark">Create Account</button>
    </div>
</div>