
    <ngb-carousel>
        <ng-template ngbSlide>
            <img class="d-block w-100" src="assets/images/slide1.png" alt="Slide 1 image">
        </ng-template>
        <ng-template ngbSlide>
            <img class="d-block w-100" src="assets/images/slide2.png" alt="Slide 2 image">
        </ng-template>
        <ng-template ngbSlide>
            <img class="d-block w-100" src="assets/images/slide3.png" alt="Slide 3 image">
        </ng-template>
    </ngb-carousel>


<div class="container">
    <div  class="m-lg-3" >
        <div class="text-center">
            <h4 style="font-weight: bold;">What is Equality Labs?</h4>
        </div>
        <div class="content">
            <p>eQuality Labs works towards a mission to provide equal
                access to technology for people with disabilities all over the
                world whether you want to learn about accessibility,
                demonstrate the accessibility readiness of your website, prove
                your skills and capabilities around accessibility or
                participate in the community. eQuality Labs can be your
                partner. The team of accessibility specialists who support
                eQuality Labs has a wide range of experience and can provide
                the support you need.</p>
        </div>
    </div>
    
</div>